body {
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  color: $text;
}

a, p, h1, h2, h3, h4, h5, h6, footer, div, span, br, strong {
  &::selection {
    background: lighten($accent, 30);
  }
  
  &::-moz-selection {
    background: lighten($accent, 30);
  }
}

a {
  color: inherit;
  transition: color 100ms ease-in-out;
  text-decoration: none;
  font-size: inherit;

  &.special {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #502ec7;
  }

  &:hover {
    color: $accent;
  }
}

h1,
h2,
h3 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

h1 {
  @include mq(s) {
    font-size: 4rem;
  }
  
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  @include mq(s) {
    font-size: 3.2rem;
  }

  font-size: 2.8rem;
}

h3 {
  @include mq(s) {
    font-size: 2.2rem;
  }

  font-size: 1.8rem;
  line-height: 1.4;
}

h4 {  
  font-weight: bold;
}

p {
  font-size: 1.3rem;
  line-height: 2rem;
}

strong {
  font-weight: bold;
}