body {
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  color: $text;
}

a, p, h1, h2, h3, footer, div, span, br {
  &::selection {
    background: lighten($accent, 30);
  }
  
  &::-moz-selection {
    background: lighten($accent, 30);
  }
}

a {
  color: inherit;
  transition: 100ms ease-in-out;
  border-bottom: 4px dotted $accent;
  text-decoration: none;

  &:hover {
    color: $accent;
  }
}

h1,
h2,
h3 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

h1 {
  @include mq(s) {
    font-size: 4rem;
  }
  
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  @include mq(s) {
    font-size: 3.2rem;
  }

  font-size: 2.2rem;
}

h3 {
  @include mq(s) {
    font-size: 2.2rem;
  }

  max-width: 824px;
  font-size: 1.8rem;
  line-height: 1.4;
}

p {
  font-size: 1.3rem;
  line-height: 2rem;
}